*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignorar configuración de Android Studio
.idea/
local.properties

# Ignorar archivos generados automáticamente por Gradle
.gradle/
build/

# Ignorar archivos del sistema
.DS_Store

# Ignorar configuración de compilación de CMake y NDK
externalNativeBuild/

# Ignorar capturas de pantalla o recursos temporales
captures/
